# Frontend
frontend/node_modules
frontend/dist
frontend/.tanstack
frontend/.env

# Backend
**/__pycache__
backend/.venv
backend/.python-version

# OS
.DS_Store

# IDE
.vscode

# Certs
certs/

# Misc
*.local
todos.json
